/* The snackbar - position it at the bottom and in the middle of the screen */

.show {
  //  visibility: visible; /* Show the snackbar */
  min-width: 250px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1;
  left: 50%;
  bottom: 20px;

  /* Add animation: Take 0.3 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadeIn 0.3s, fadeOut 0.3s 2.5s;
  animation: fadeIn 0.3s, fadeOut 0.3s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    bottom: 20px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
